<meta charset="UTF-8"/>
<style type="text/css">
    .myData .layui-form-item {
        margin: 20px 100px 10px 45px;
    }

    .myData .layui-form-label {
        width: 80px;
    }
</style>
<form class="layui-form myData" action="save" method="post" lay-filter="stuform">
    <input type="hidden" name="id" data-th-value="${model.id}"/>
    <input type="hidden" name="isUsed" data-th-value="${model.isUsed}"/>
    <input type="hidden" name="grade" data-th-value="${model.grade}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">班级名称：</label>
        <div class="layui-input-block">
            <select name="tbClass.id">
                <option></option>
                <option data-th-each="t:${tbClass}" data-th-value="${t.id}"
                        data-th-selected="${model.tbClass==null? null: model.tbClass.id ==  t.id}"
                        data-th-text="${t.name}">班级名称
                </option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" th:value="${model.name}" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" th:value="${model.username}" class="layui-input"/>
        </div>
    </div>
</form>

<script>
    layui.use("form", function () {
        var form = layui.form;
        form.render('select');
    });
</script>
