<meta charset="UTF-8"/>
<style type="text/css">
    .myData .layui-form-item {
        margin: 20px 100px 10px 45px;
    }

    .myData .layui-form-label {
        width: 80px;
    }
</style>
<form class="layui-form myData" action="save" method="post" lay-filter="stuform">
    <input type="hidden" name="id" data-th-value="${model.id}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">班级名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" th:value="${model.name}" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">老师：</label>
        <div class="layui-input-block">
            <input type="text" name="teacher" lay-verify="required" th:value="${model.teacher}" class="layui-input"/>
        </div>
    </div>
</form>
