<!DOCTYPE html>
<meta charset="UTF-8">

<form class="layui-form" id="myForm" lay-filter="stuform">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">班级名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">老师：</label>
            <div class="layui-input-inline">
                <input type="text" name="teacher" class="layui-input"/>
            </div>
        </div>

        <div class="layui-inline">
            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" onclick="search()">
                <i class="layui-icon">&#xe615;</i>查询
            </button>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" onclick="empty()">
                <i class="layui-icon">&#xe640;</i>清空
            </button>
        </div>
    </div>
</form>

<table class="layui-hide" id="tbClass" lay-filter="tbClass"></table>

<script type="text/javascript">
    var where = {};
    layui.use("table", function () {
        var that = this;
        var table = layui.table;
        table.render({
            elem: '#tbClass',
            title: '班级管理',
            url: 'tbClass/page',
            height: 'full-210',
            toolbar: '#toolbarDemo',
            page: true,
            cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', hide: true, title: 'id'},
                {field: 'name', title: '班级名称'},
                {field: 'teacher', title: '老师'}
            ] ]
        });

        table.on('toolbar(tbClass)', function (obj) {
            var checkStatus = table.checkStatus('tbClass');
            var data = checkStatus.data;
            if (obj.event == 'add') {
                $.post("tbClass/edit", function (data) {
                    layui.use('layer', function () {
                        layer.open({
                            title: '班级管理',
                            type: 1,
                            shade: 0.3,
                            maxmin: true,
                            content: data,
                            area: ['500px'],
                            btn: ['确定', '取消'],
                            yes: function () {	//虚拟化表单参数类型不是json，所以这里用的是回调提交
                            },
                            //弹出层打开回调
                            success: function (layero, index) {
                                var form = layui.form;
                                //找到确定按钮，添加属性，变成提交按钮
                                layero.addClass('layui-form');
                                var submitBtn = layero.find('.layui-layer-btn0');
                                submitBtn.attr('lay-filter', 'formVerify').attr('lay-submit', '');
                                layero.keydown(function (e) {
                                    if (e.keyCode == 13) {
                                        submitBtn.click();
                                    }
                                });
                                form.on('submit(formVerify)', function (data) {
                                    $.post("tbClass/save", data.field, function (result) {
                                        if (result.success) {
                                            layer.close(index);
                                            table.reload('tbClass', {where: that.where});
                                        }
                                        layer.msg(result.msg, {offset: 'rb'});
                                    });
                                });
                            }
                        })
                    })
                })
            } else if (obj.event === 'updata') {
                if (data.length != 1) {
                    layer.msg('请选择一行进行编辑', {offset: 'rb'});
                } else {
                    var id = data[0].id;
                    $.post("tbClass/edit", {id: id}, function (data) {
                        layui.use('layer', function () {
                            layer.open({
                                title: '班级管理',
                                type: 1,
                                shade: 0.3,
                                maxmin: true,
                                content: data,
                                area: ['500px'],
                                btn: ['确定', '取消'],
                                yes: function () {
                                },
                                success: function (layero, index) {
                                    var form = layui.form;
                                    layero.addClass('layui-form');
                                    var submitBtn = layero.find('.layui-layer-btn0');
                                    submitBtn.attr('lay-filter', 'formVerify').attr('lay-submit', '');
                                    layero.keydown(function (e) {
                                        if (e.keyCode == 13) {
                                            submitBtn.click();
                                        }
                                    });
                                    form.on('submit(formVerify)', function (data) {
                                        $.post("tbClass/save", data.field, function (result) {
                                            if (result.success) {
                                                layer.close(index);
                                                table.reload('tbClass', {where: that.where});
                                            }
                                            layer.msg(result.msg, {offset: 'rb'});
                                        });
                                    });
                                }
                            })
                        })
                    });
                }
            } else if (obj.event === "delete") {
                if (data.length < 1) {
                    layer.msg('请选择需要删除的行', {offset: 'rb'});
                } else {
                    layer.confirm('确定要删除选中的' + data.length + '条数据吗？', function (index) {
                        var str = "";
                        for (i = 0; i < data.length; i++) {
                            str += data[i].id + ",";
                        }
                        str = str.substring(0, str.length - 1);
                        $.post("tbClass/delete1", {ids: str}, function (result) {
                            table.reload('tbClass', {where: that.where});
                            layer.close(index);
                            layer.msg(result.msg, {offset: 'rb'});
                        });
                    });
                }
            } else if (obj.event === 'refresh') {
                table.reload('tbClass', {where: that.where});
            }
        })
    });

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    function search() {
        layui.use("table", function () {
            var table = layui.table;
            where = $("#myForm").serializeObject();
            table.reload('tbClass', {where: where});
        });
    }

    function empty() {
        where = "";
        $("input").val("");
        layui.use(['form', 'table'], function () {
            var form = layui.form;
            var table = layui.table;
            form.render();
            table.reload('tbClass', {where: ''});
        });
    }
</script>